@model List<Alumno>

@{
    ViewData["Title"] = "Informacion Alumno";
    Layout = "Simple";
}

<h1> @ViewData["Title"] </h1>

<strong>Desde la vista parcial</strong>
<partial name="ListaObjetosEscuela" />



<p><i> @ViewBag.Fecha </i></p>