@model List<Asignatura>

@{
    ViewData["Title"] = "Informacion Asignatura";
    Layout = "Simple";
}

<h1> @ViewData["Title"] </h1>

<strong>Desde la vista parcial</strong>

<partial name="ListaObjetosEscuela" />




<p><i> @ViewBag.Fecha </i></p>